body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: rgb(204,204,204);
    user-select: none;
}
#canvas{
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: white;
    outline: 1px solid black;
}


#settings{
    margin-top: 25px;
    margin-left: 25px;
    width: 200px;
}


input[type='checkbox']{
    visibility: hidden;
}
input[type=number]{
    border: 1px solid black;
    background-color: white;
    outline: none;
    width: 24px;
    height: 14px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}


.container{
    position: relative;
    padding-left: 20px;
}
.checkmark{
    position: absolute;
    left: 0;
    top: 2px;
    height: 10px;
    width: 10px;
    background: white;
    border: 1px solid black;
}
.container .checkmark:after{
    content: "";
    display: none;
    position: absolute;
    width: 6px;
    height: 2px;
    background: transparent;
    top: 2px;
    left: 1px;
    border: 2px solid black;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}
.container input:checked ~ .checkmark:after{
    display: block;
}


.input{
    position: absolute;
    top: -1px;
    left: 100px;
}
.inputTxt{
    position: absolute;
    margin-top: -18px;
    margin-left: 30px;
}


.checkboxRight{
    position: absolute;
    left: 0;
    margin-left: 125px;
    margin-top: 1px;
}